@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {

}

.pet-icon {
  color: white;
  margin-right: 15px;
}

.main-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translate(-50%, -50%);
}

.pet-image {
  width: 100%;
  height: 100vh;
  margin: auto;
  opacity: 1;
}

#sec-services {
  //background-color: #E8BE9B;
  //border: solid 2px red;
  //height: 300px;
  //margin: auto;
  //margin: 45px 100px;
  //width: 900px;
}

#sec-about {
  //background-color: #FFE691;
  //border: solid 2px red;
  //height: 300px;
  //margin: auto;
  //margin-top: 45px;
  //width: 900px;
}

.container {
  display: flex;
}

h3 {
  //text-align: center;
  margin-top: 30px;
}

.p-sections {
  //padding (top, right, bottom, left)
  padding-top: 100px;
  padding-right: 200px;
}

.sec-img {
  border-radius: 8px;
  margin-top: 60px;
}

#sec-contact {
  border: solid 2px red;
  // height: 300px;
  // margin: auto;
  // width: 900px;
}

// .fa-phone {
//   padding-top: 5px;
//   padding-bottom: 15px;
// }

.reservation-form-div {
  border: solid 2px red;
  margin: auto;
  margin-top: 20px;
  width: 900px;
}

#reservation-form {
  margin-left: 300px;
}

#message {
  text-align: center;
}

.success {
  color: green;
  font-size: 20px;
}

.failure {
  color: red;
  font-size: 20px;
}
