@import '~bootstrap/scss/bootstrap';

body {
  //background-image: url("https://res.cloudinary.com/dyiugkn4y/video/upload/v1586734961/Brooklyn%20Pet%20Project/Dog_Video.mp4");
}

h1 {
  text-align: center;
  padding-top: 50px;
}

#div-services {
  border: solid 2px red;
  height: 300px;
  margin: auto;
  margin-bottom: 100px;
  width: 900px;
}

#div-about {
  border: solid 2px red;
  height: 300px;
  margin: auto;
  margin-bottom: 100px;
  width: 900px;
}

#div-contact {
  border: solid 2px red;
  height: 300px;
  margin: auto;
  width: 900px;
}

.success {
  color: green;
  font-size: 30px;
}

.failure {
  color: red;
  font-size: 30px;
}
